Source: ros-kilted-persist-parameter-server
Section: misc
Priority: optional
Maintainer: Tomoya Fujita <Tomoya.Fujita@sony.com>
Build-Depends: debhelper (>= 9.0.0), libboost-dev, libboost-filesystem-dev, libboost-program-options-dev, ros-kilted-ament-cmake, ros-kilted-ament-cmake-pytest <!nocheck>, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-launch <!nocheck>, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-rcutils, ros-kilted-rmw, ros-kilted-rmw-implementation-cmake, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-yaml-cpp-vendor, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-persist-parameter-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-launch-ros, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-rcutils, ros-kilted-rmw, ros-kilted-rmw-implementation-cmake, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-yaml-cpp-vendor, ros-kilted-ros-workspace
Description: ros2 parameter server that other nodes can write/read parameters including persistent parameters.
